version: "3.8"
services: 
  prom-server: 
    image: prom/prometheus
    ports: 
      - 9090:9090
    volumes: 
      - ./prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana-oss
    ports:
      - 3000:3000
  
  loki:
    image: grafana/loki
    ports:
      - 3100:3100
  