apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders
  labels:
    app: orders
spec:
  replicas: 2
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          image: ombaji/orders-svc
          ports:
            - containerPort: 4001
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            # No limits - pods can use more if needed
          env:
            - name: DATABASE_URL
              value: "postgres://admin:secret@postgres:5432/appdb"
            - name: REDIS_URL
              value: "redis://redis:6379"