apiVersion: v1
kind: Service
metadata:
  name: orders
spec:
  type: LoadBalancer  # Change from NodePort
  selector:
    app: orders
  ports:
    - protocol: TCP
      port: 4001
      targetPort: 4001