apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  labels:
    app: inventory
spec:
  replicas: 2
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory
          image: ombaji/inventory-svc
          ports:
            - containerPort: 4002
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
          env:
            - name: DATABASE_URL
              value: "postgres://admin:secret@postgres:5432/appdb"
            - name: REDIS_URL
              value: "redis://redis:6379"
