name: Complete Backend CI Pipeline
on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main"]

jobs:
  build-inventory-service:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository

      - uses: actions/setup-node@v6
        name: Setup Node

      - uses: pnpm/action-setup@v4
        name: Setup PNPM

      - name: Build and test
        run: |
          pnpm install
          pnpm build

  build-next-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v5
        name: Checkout Repository

      - uses: actions/setup-node@v6
        name: Setup Node

      - name: Setup PNPM ans Install Dependencies
        run: |
          npm install -g pnpm
          pnpm install

      - name: Build
        run: |
          pnpm build

  build-admin-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./admin
    steps:
      - uses: actions/checkout@v5
        name: Checkout Repository

      - uses: actions/setup-node@v6
        name: Setup Node

      - name: Setup PNPM ans Install Dependencies
        run: |
          npm install -g pnpm
          pnpm install

      - name: Build
        run: |
          pnpm build
